LOCATE COMP "clk" SITE "A9";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 48.0 MHz;

LOCATE COMP "BTN" SITE "J17";
IOBUF PORT "BTN" IO_TYPE=SSTL135_I;
LOCATE COMP "RESET" SITE "V17";
IOBUF PORT "RESET" IO_TYPE=LVCMOS33;
