LOCATE COMP "clk" SITE "A9";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 48.0 MHz;

LOCATE COMP "RX" SITE "N17";
IOBUF PORT "RX" IO_TYPE=LVCMOS33;
LOCATE COMP "TX" SITE "M18";
IOBUF PORT "TX" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "rgb_led0_r" SITE "K4";
IOBUF PORT "rgb_led0_r" IO_TYPE=LVCMOS33;
LOCATE COMP "rgb_led0_g" SITE "M3";
IOBUF PORT "rgb_led0_g" IO_TYPE=LVCMOS33;
LOCATE COMP "rgb_led0_b" SITE "J3";
IOBUF PORT "rgb_led0_b" IO_TYPE=LVCMOS33;

LOCATE COMP "state_out[0]" SITE "C8";
IOBUF PORT "state_out[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "state_out[1]" SITE "B8";
IOBUF PORT "state_out[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "state_out[2]" SITE "A8";
IOBUF PORT "state_out[2]" IO_TYPE=LVCMOS33;
